@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    font-family: "Poppins";
    background: #f5f5f5;
}

.toolbar {
    display: flex;
    gap: 8px;
    margin: 80px 0px 16px 0px;
    flex-wrap: wrap;
}

.text-area {
    border: 1px solid #ccc;
    border-radius: 16px;
    padding: 40px 0px;
    background: #fff;
}

.font-weight-bold {
    font-weight: bold !important;
}

.font-italic {
    font-style: italic;
}

#textFormat {
    display: flex;
    gap: 4px;
}

#cssOutputContainer {
    margin-top: 24px;
    border: 1px solid #ccc;
    border-radius: 16px;
    padding: 40px;
    background: #fff;
}

#textColor {
    width: 42px !important;
    height: 42px !important;
    padding: 0;
    border-radius: 8px !important;
    cursor: pointer;
}

.form-select {
    max-width: fit-content !important;
    cursor: pointer;
}

[contenteditable] {
    min-height: 30px;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    padding: 16px 40px;
}

[contenteditable]:hover {
    background: aliceblue;
}

h1,
h2,
h3,
h4 {
    font-weight: bold;
}

.text-center {
    margin-top: 24px !important;
}

.active-element {
    border-left: 6px solid #007bff;
    margin-left: -6px;
}